[submodule "nn_projects"]
	path = nn_projects
	url=https://github.com/pubali512/nn_projects.git
[submodule "fullstack_projects"]
	path = fullstack_projects
	url = https://github.com/pubali512/fullstack_projects.git
[submodule "cpp_projects"]
	path = cpp_projects
	url = https://github.com/pubali512/cpp_projects.git
